---
import type { IPostProps } from "../interfaces/IPost.interface";
//  components
import GridLayout from "@layouts/GridLayout.astro";
import BlogCard from "@sharedComponents/BlogCard/BlogCard.astro";

const pageTitle = "Blog recientes";
const postList = await Astro.glob<IPostProps>("../pages/posts/*.md");
---

<GridLayout pageTitle={pageTitle}>
  {
    postList.map((post) => (
      <li >
        <BlogCard
          image={post.frontmatter.image.url}
          description={post.frontmatter.description}
          title={post.frontmatter.title}
          url={post.url ?? "/"}
          color={post.frontmatter.color}
        />
      </li>
    ))
  }
</GridLayout>
