---
//  components
import BaseLayout from "@layouts/BaseLayout.astro"
import AnimatedHeader from "@sharedComponents/AnimatedHeader/AnimatedHeader.astro";
import CategoryCard from "@sharedComponents/CategoryCard/CategoryCard.astro";


const postList = await Astro.glob("./posts/*.md");
const tagList  = [
  ...new Set(postList.map(post => post.frontmatter.tags).flat())
];
const pageTitle ="Categorias"
---

<BaseLayout pageTitle={pageTitle}>
  <AnimatedHeader pageTitle={pageTitle} />

  <ul class="category-list">    
    {
      tagList.map(tag =>
      <li class="category-item">
          <a 
            href={`/tags/${tag}`} 
            rel="noopener noreferrer"
            aria-label={`ir a ${tag}`}
            title={`ir a ${tag}`}
          >
            <CategoryCard title={tag} /> 
          </a>
        </li>
      )
    }

    <li 
      class="category-item"
      aria-hidden="true"
    >
      <CategoryCard title='unknown' />
    </li>

  </ul>
</BaseLayout>

<style>
  .category-list {
    max-width: 55rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    @media screen and (width <= 55rem) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (width <= 30rem) {
      grid-template-columns: 1fr;
    }
  }
  
  .category-item {
    color: aliceblue;
  }
</style>
