---
//  layout
import BaseLayout from './BaseLayout.astro'
//  components
import HeaderPost from '@components/HeaderPost/HeaderPost.astro'
import OpinionSolicitation from '@sharedComponents/OpinionSolicitation.astro'
import CommentBox from '@components/CommentBox/CommentBox.astro'
import FooterPost from '@components/FooterPost/FooterPost.astro'

const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <HeaderPost 
    alt={frontmatter.image.alt}
    image={frontmatter.image.url}
    description={frontmatter.description}
    title={frontmatter.title}
    color={frontmatter.color}
  />

  <div class="nes-container is-rounded is-dark ">
    <slot />
  </div>
  
  <FooterPost 
    date={frontmatter.date}
    author={frontmatter.author}
  />

  <OpinionSolicitation />

  <CommentBox />

</BaseLayout>
